body {
    font-family: 'Open Sans', sans-serif;
}
#burger-pic {
    border-radius: 90%;
    height: 200px;
}
#header {
    text-align: center;
}
#content-area {
    border: 5px solid black;
    padding: 10px; 
}
h1 ,h2 {
    font-family: 'Permanent Marker', cursive; 
    text-align: center;
}

li {
    padding: 10px;
    /* display: inline-block; */
}
.devour {
    float: right;
}
#eaten {
    color: grey;
}
#delete_eaten {
    /* position: relative; */
    float: right;
}
